<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('Nova Pessoa')}"></head>

<body>
<header th:replace="~{fragmentos :: header('Pessoa #' + ${pessoa.id})}"></header>

<main>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <b>Id:</b> <span th:text="${pessoa.getId()}"></span><br/>
                <b>Nome:</b> <span th:text="${pessoa.nome}"></span><br/>
                <b>Tipo:</b> <span th:text="${pessoa.tipoPessoa.toString()}"></span><br/>
                <b>Email:</b> <span th:text="${pessoa.email}"></span><br/>
                <b>Numero:</b> <span th:text="${pessoa.numero}"></span><br/>
                <b>Data de nascimento:</b> <span th:text="${pessoa.data_nascimento}"></span><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a th:href="@{/pessoas/{pessoaId}/edit(pessoaId = ${pessoa.id})}">Editar</a> <a href="/pessoas">Voltar</a>
            </div>
        </div>
    </div>
</main>

</body>
</html>