.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.error-message {
    color: #dc3545;
}

.success-message {
    color: #198754;
}

.wrapper {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin-left: auto;
margin-right: auto;
}