<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Easyfarma</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<input type="checkbox" id="check">
<label for="check">
	<i class="fas fa-bars" id="btn"></i>
	<i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
	<header>Easyfarma</header>
	<a href="#" class="active">
		<i class="fas fa-qrcode"></i>
		<span>Home</span>
	</a>
	<a href="#">
		<i class="fas fa-link"></i>
		<span>Medicamentos</span>
	</a>
	<a href="#">
		<i class="fas fa-link"></i>
		<span>Procedimentos</span>
	</a>
	<a href="#">
		<i class="fas fa-question-circle"></i>
		<span>Sobre</span>
	</a>
</div>

<body>

</body>



</html>